@model IEnumerable<AllStocked.Models.SecondaryAccountAccessViewModel>

<h4>Manage Secondary Accounts</h4>
<table class="table">
    <tr>
        <th>

        </th>

        <th>
            @Html.DisplayNameFor(model => model.SecondaryAccountEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        
        <th>        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @using (Html.BeginForm("DeleteSecondaryAccount", "Settings"))
            {
                <button type="submit" name="email" value="@item.SecondaryAccountEmail"> Delete</button>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAccountEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEdited)
        </td>

        @*Only Display this message if account is of type Owner*@
        <td>
            @using (Html.BeginForm("ChangeSecondaryAccountStatus", "Settings"))
            {
                <button type="submit" name ="email"value="@item.SecondaryAccountEmail"> @item.GetChangeStatusButtonName()</button>
            }
        </td>
    </tr>
}

</table>
