@model IEnumerable<AllStocked.Models.SecondaryAccountAccessViewModel>

@{ 
    int AccountType = AllStocked.Models.SessionHelper.getAccountTypeFromSession();
    int AccountId = AllStocked.Models.SessionHelper.getAccountIdFromSession();
    }

<h4>Manage Secondary Accounts</h4>
<table class="table">
    <tr>
        <th>

        </th>

        <th>
            @if (AccountType == 1) {

                @Html.DisplayNameFor(model => model.SecondaryAccountEmail);
            }
            else
            {
                @Html.DisplayNameFor(model => model.OwnerEmail);
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        
        <th>  </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @using (Html.BeginForm("DeleteSecondaryAccount", "Settings"))
            {
                <button type="submit" name="email" value="@item.SecondaryAccountEmail"> Delete</button>
            }
        </td>
        <td>
            @if (AccountType == 1 && item.SecondaryAccountID == AccountId)
            {
                @Html.DisplayFor(modelItem => item.OwnerEmail)

            }
            else
            {
                @Html.DisplayFor(modelItem => item.SecondaryAccountEmail)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEdited)
        </td>

        @*Only Display Activate button if Type equals owner else *@        
        <td>
            @if (AccountType == 1)
            {
                if (item.SecondaryAccountID == AccountId && item.Status == "Pending")
                {
                    using (Html.BeginForm("ValidateTokenSubmission", "Settings", FormMethod.Post))
                    {
                        <p>
                            Check email for Access Token: @Html.TextBox("accessToken", ViewBag.CurrentFilter as string)
                            <input type="submit" name="accessToken" value="Submit" />
                        </p>
                    }
                }
                else
                {
                    using (Html.BeginForm("ChangeSecondaryAccountStatus", "Settings"))
                    {
                        <button type = "submit" name = "email" value = "@item.SecondaryAccountEmail" > @item.GetChangeStatusButtonName() </button>
                    }
                }
            }

        </td>
    </tr>
}
</table>
