@model AllStocked.Models.SettingsViewModel
@{
    ViewBag.Title = "Settings";
    int AccountType = AllStocked.Models.SessionHelper.GetAccountTypeFromSession();
}

<h2>Settings</h2>


<br />
<br />
@*display editAccount Partial View*@
@Html.Partial("EditAccount", @Model.Account)

<br />
<br />
@*display list of Accounts Partial View*@
@Html.Partial("SecondaryAccountList", @Model.ListSecondaryAccounts)

<br />
@if (AccountType == 1) {
    @*display Create Secondary Account Partial View*@
    @Html.Partial("CreateSecondaryAccountAccess", new SecondaryAccountAccess())
}
<hr />