<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title AllStocked</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="@ViewBag.PageClass" id="allPagesBackground"> @*set all background colors to red*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.Session["AccountID"] == null)
                    {
                    <li class="navbarD">@Html.ActionLink("login", "login", "Login", null, new { @class = "navToBlack" })</li>
                    }
                    else
                    {
                    <li class="navbarD">@Html.ActionLink("Products", "Index", "Products", null, new { @class = "navToBlack" })</li>// products page
                    <li class="navbarD">@Html.ActionLink("Create New Product", "Create", "Products", null, new { @class = "navToBlack" }) </li> //Create Products Page
                    <li class="navbarD">@Html.ActionLink("Shopping List", "ShoppingList", "Products", null, new { @class = "navToBlack" }) </li> //Create Products Page
                    }
                </ul>
                @if (HttpContext.Current.Session["AccountID"] != null)
                {
                <ul class="nav navbar-nav navbar-right">
                    <li class="logoff">@Html.ActionLink("Log Off", "LogOff", "Login", null, new { @class = "logoffLink" })</li>
                </ul>
                }
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AllStocked</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
