@model IEnumerable<AllStocked.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    
    Search products- <input id="txt1" type="text" /> <input type="submit" name="submitted" value="search" onserverclick="submitted" />
    @Html.ActionLink("Create New Product", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Par)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Par)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
